
***************** delete a node in linked list***********
void dele(int key){
     struct node *p, *q;
     p=new node;
     q=new node;
     p=first;
     q=0;
     while(p->data!=key){
         q=p;
         p=p->next;
     }
     
     q->next=p->next;
     delete p;
    
 }

************checking if the list is_sorted*************

void is_sorted(int key,int n){
    struct node *p;
    p=new node;
    p=first;
   for(int i=0; i<n; i++){
       if(p->data>key){
           key=p->data;
           p=p->next;
           
       }
       else{
           cout<<"L_List is not sorted:"<<endl;
          
           break;
           
       }
   }
}

********** deleting duplicate in linked list*************

void is_dupli(struct node *p){
   
struct node *q=p->next;
   while(q!=0){
       if(p->data!=q->data){
           p=q;
           q=q->next;
       }
       else{
           p->next=q->next;
           delete q;
           q=p->next;
       }
   }
}
