void dele(int key){
     struct node *p, *q;
     p=new node;
     q=new node;
     p=first;
     q=0;
     while(p->data!=key){
         q=p;
         p=p->next;
     }
     
     q->next=p->next;
     delete p;
    
 }
